// colors
$clr-primary: #1E458A;
$clr-primary-1: #88067B1A;
$clr-secondary: #C8232A;
$clr-secondary-1: #9D1B21;
$clr-grey: #828282;
$clr-grey-C0: #C0C0C066;
$clr-grey-DF: #DFDFDFCC;
$clr-grey-66: #666;
$clr-white: #fff;
$clr-black: #000;
$clr-black-a: #150202;
$clr-blue: #628AF1;
$clr-mid-blue: #092A48;
$clr-whitesmoke: #EFEFEF;
$clr-davy-grey: #555555;
$clr-dark-cyan: #043133;
$clr-nero: #222222;
$clr-dark-yellow: #EC9128;
$clr-facebook-icon: #4267B2;
$clr-youtube-icon: #FF0000;
$clr-twitter-icon: #1DA1F2;
$clr-messenger-icon: #68A0FF;
$clr-whatsapp-icon: #25D366;
$clr-gmail-icon: #E34033;

// font 
$font-base: 'Mukta', sans-serif;
$font-base-size: 17px!default;
$font-base-weight: 400;
$font-sarala: 'Sarala', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-khand: 'Khand', sans-serif;
