// text
.text-primary{color: $clr-primary!important;}
.text-secondary{color: $clr-secondary!important;}
.text-grey-66{color: $clr-grey-66;}
.text-grey-DF{color: $clr-grey-DF;}
.text-white{color: $clr-white;}
.text-black{color: $clr-black;}
.text-black-a{color: $clr-black-a;}
.text-black-a-07{color: opacity(#150202, 0.7);}
.text-grey{color: $clr-grey;}
.text-blue{color: $clr-blue;}
.text-mid-blue{color: $clr-mid-blue;}
.text-davy-grey{color: $clr-davy-grey;}
.text-whitesmoke{color: $clr-whitesmoke;}
.text-dark-cyan{color: $clr-dark-cyan;}
.fb-icon-color{color: $clr-facebook-icon;}
.twitter-icon-color{color: $clr-twitter-icon;}
.youtube-icon-color{color: $clr-youtube-icon;}
.insta-icon-color{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 200px; /* change this to change the size*/
}
.messenger-icon-color{color: $clr-messenger-icon;}
.whatsapp-icon-color{color: $clr-whatsapp-icon;}
.gmail-icon-color{color: $clr-gmail-icon;}

// backgrounds
.bg-primary{background-color: $clr-primary!important;}
.bg-secondary{background-color: $clr-secondary!important;}
.bg-primary-1{background-color: $clr-primary-1;}
.bg-white{background-color: $clr-white;}
.bg-black{background-color: $clr-black;}
// grey C0 variations
.bg-grey-C0{background-color: $clr-grey-C0;}
.bg-dark-yellow{background-color: $clr-dark-yellow;}
.bg-grey-DF{background-color: $clr-grey-DF;}
.bg-grey-DF-08{background-color: opacity(#dfdfdf, 0.8);}
.bg-whitesmoke{background-color: $clr-whitesmoke;}
.bg-nero{background-color: $clr-nero;}
.bg-mid-blue{background-color: $clr-mid-blue;}
.bg-fb{background-color: $clr-facebook-icon;}
.bg-twitter{background-color: $clr-twitter-icon;}
.bg-youtube{background-color: $clr-youtube-icon;}
.bg-messenger{background-color: $clr-messenger-icon;}
.bg-whatsapp{background-color: $clr-whatsapp-icon;}
.bg-gmail{background-color: $clr-gmail-icon;}

// font weights
.fw-2{font-weight: 200;}
.fw-3{font-weight: 300;}
.fw-4{font-weight: 400;}
.fw-5{font-weight: 500;}
.fw-6{font-weight: 600;}
.fw-7{font-weight: 700;}
.fw-8{font-weight: 800;}

// letter spacing
.ls-1{letter-spacing: 1px;}
.ls-2{letter-spacing: 2px;}
.ls-2-p{letter-spacing: 2%;}

// font sizes
.fs-11{font-size: 11px;}
.fs-12{font-size: 12px;}
.fs-13{font-size: 13px;}
.fs-14{font-size: 14px;}
.fs-15{font-size: 15px;}
.fs-16{font-size: 16px;}
.fs-17{font-size: 17px;}
.fs-18{font-size: 18px;}
.fs-19{font-size: 19px;}
.fs-20{font-size: 20px;}
.fs-21{font-size: 21px;}
.fs-22{font-size: 22px;}
.fs-23{font-size: 23px;}
.fs-24{font-size: 24px;}
.fs-25{font-size: 25px;}
.fs-26{font-size: 26px;}
.fs-28{font-size: 28px;}
.fs-32{font-size: 32px;}
.fs-35{font-size: 35px;}
.fs-36{font-size: 36px;}
.fs-40{font-size: 40px;}
.fs-45{font-size: 45px;}

// image
.img-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

// opacity
.op-09{opacity: 0.9;}
.op-08{opacity: 0.8;}
.op-07{opacity: 0.7;}
.op-06{opacity: 0.6;}
.op-05{opacity: 0.5;}
.op-04{opacity: 0.4;}
.op-03{opacity: 0.3;}
.op-02{opacity: 0.2;}
.op-01{opacity: 0.1;}

// line height
.lh-20{line-height: 20px;}
.lh-25{line-height: 25px;}
.lh-33{line-height: 33px;}
.lh-26{line-height: 26px;}
.lh-30{line-height: 30px;}
.lh-35{line-height: 35px;}
.lh-40{line-height: 40px;}
.lh-45{line-height: 45px;}
.lh-65{line-height: 65px;}

// arrow down
.arrow-down{
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid $clr-white;
    margin-top: -4px;
}

// border-radius
.border-r-20{border-radius: 20px;}
.border-r-10{border-radius: 10px;}

// padding
.py-8{
    padding-top: 80px;
    padding-bottom: 80px;
}
.py-6{
    padding-top: 60px;
    padding-bottom: 60px;
}
.pt-6{
    padding-top: 60px;
}
.pb-6{
    padding-bottom: 60px;
}
.px-6{
    padding-right: 60px;
    padding-left: 60px;
}

// links
.a{
    &-black{
        @include transition-ease;
        &:hover{
            color: $clr-black;
        opacity: 0.7;
        }
    }
    &-white{
        @include transition-ease;
        &:hover{
            color: $clr-white;
            opacity: 0.7;

        }
    }
}

// section title
.sc-title{
    @include flex-jc-between;
    margin-bottom: 34px;
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &-text{
        font-weight: 800;
        font-size: 30px;
        line-height: 66px;
        color: $clr-primary;

        @include breakpoint-up(xl){
            font-size: 35px;
        }
        @include breakpoint-up(xxl){
            font-size: 40px;
        }
    }

    &-link{
        display: flex;
        align-items: center;

        .link-icon{
            @include transition-ease;
            background-color: $clr-primary;
            color: $clr-white;
        }

        &:hover{
            color: $clr-secondary;
            .link-icon{
                background-color: $clr-secondary;
                color: $clr-white;
            }
            .link-text{
                color: $clr-primary;
            }
        }
    }
}

// gradient
.gradient-btm{
    position: relative;
    &::after{
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        background: linear-gradient(360deg, #4D0045 0%, rgba(136, 6, 123, 0) 76.67%);
    }
}

// author-default
.author-default{
    @include flex-center;
    width: 33px;
    height: 33px;
    background-color: #C4C4C4;
    @include border-c;
    outline: border(#C4C4C4);
    outline-offset: 2px;
}

// count box
.count-box{
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: 0;
    color: $clr-primary;
    background-color: $clr-white;
    @include flex-center;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    border-bottom: border($clr-primary, 2px);
}

// line
.line{
    height: 2px;
    width: 100%;
    background-color: $clr-white;
}

// no wrap 
.no-wrap{
    white-space: nowrap;
}

// tabs list
.sc-tab-list{
    li{
        padding: 0 18px;
        border-right: border($clr-grey-66);
        cursor: pointer;
        @include transition-ease;

        &:hover{
            color: $clr-secondary;
        }

        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            border-right: 0;
        }

        @include breakpoint-down(sm){
            font-size: 15px;
            padding: 0 9px;
        }
    }
}

// avatar
.avatar{
    width: 63px;
    height: 63px;
    background-color: #c4c4c4;
    @include border-c;
    overflow: hidden;
    outline: border(black(0.5));
    outline-offset: 5px;
    margin-right: 5px;
    margin-left: 5px;
    @include flex-center;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-lg{
        @extend .avatar;
        width: 75px;
        height: 75px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    &-md{
        @extend .avatar;
        width: 50px;
        height: 50px;
    }

    &-sm{
        @extend .avatar;
        width: 45px;
        height: 45px;
    }
}

// border - all
.border-1{
    border: 1px solid #C4C4C4;
}
.border-bottom-1{
    border: 1px solid #FFFFFF;
}

// max width
.mw-480{
    max-width: 480px;
}

// gallery item title
.gallery-item-title{
    font-weight: 800;
    font-size: 28px;
    max-width: 480;
    line-height: 1.6;
}

// news num item
.news-num-list{
    a{
        &:last-child{
            .news-num-itm{
                border-bottom: none;
            }
        }
    }
    .news-num-itm{
        display: grid;
        grid-template-columns: 80px auto;
        align-items: flex-start;
        padding: 22px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        .news-num-value{
            height: 48px;
            width: 60px;
            border-radius: 3px;
            background-color: $clr-secondary;
            color: $clr-white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            font-weight: 800;
            position: relative;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            margin-top: 4px;
    
            &::after{
                content: "";
                position: absolute;
                left: 0;
                bottom: -14px;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-left: 15px solid $clr-secondary;
            }
        }
        .news-num-title{
            @include breakpoint-down(sm){
                font-size: 18px;
            }
            @include breakpoint-down(xs){
                font-size: 17px;
            }
        }
    }
}

.news-list{
    &-item{
        &-link{
            @include breakpoint-down(sm){
                font-size: 18px;
            }
            @include breakpoint-down(xs){
                font-size: 17px;
            }
            
            &:hover{
                color: $clr-secondary;
            }
        }
    }
}

// single page breadcrumb
.breadcrumb{
    background-color: rgba(0, 0, 0, 0.02);
    padding: 8px 12px;
    margin-bottom: 48px!important;
    .breadcrumb-item:hover{
        a{
            color: $clr-secondary;
        }
    }
}

// ns block title
.ns-block-title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 1.8rem;

    @include breakpoint-down(md){
        font-size: 24px;
    }
    @include breakpoint-down(sm){
        font-size: 18px;
    }
    @include breakpoint-down(xs){
        font-size: 16px;
    }
}

// emojis
.ns-emoji-block{
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 24px;
    background-color: rgba(0, 0, 0, 0.02);
}
.emoji-list{
    .emoji-item{
        text-align: center;
        margin-right: 36px;
        margin-left: 36px;
        border: none;
        &-val{
            padding: 0 14px;
            border-radius: 16px;
        }
        &-img{
            max-width: 50px;
            margin: 6px auto 10px auto;
            transition: all 300ms ease-in-out;
            &:hover{
                transform: scale(0.9);
            }
        }

        @include breakpoint-down(lg){
            margin-right: 24px;
            margin-left: 24px;
            &-val{
                font-size: 12px;
                padding: 0 8px;
            }
            &-img{
                max-width: 30px;
                margin: 6px auto 10px auto;
                transition: all 300ms ease-in-out;
                &:hover{
                    transform: scale(0.9);
                }
            }
        }

        @include breakpoint-down(sm){
            margin-right: 12px;
            margin-left: 12px;
            &-text{
                font-size: 15px;
            }
        }
        @include breakpoint-down(xs){
            margin-right: 8px;
            margin-left: 8px;
            &-text{
                font-size: 13px;
            }
        }
    }
}

// forms
textarea, input{
    padding: 12px!important;
    border-radius: 3px!important;
    &::placeholder{
        font-size: 18px;
    }
    background-color: rgba(0, 0, 0, 0.02)!important;
}

// pagination
.pagination{
    .page-item{
        transition: all 200ms ease-in-out;
        .page-link{
            border-radius: 0!important;
            width: 40px!important;
            height: 40px!important;
            margin: 0 3px;
            font-weight: 700;
            font-size: 18px;
            background-color: $clr-whitesmoke;
            color: rgba(0, 0, 0, 0.6);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.page-item-active{
            .page-link{
                background-color: $clr-primary;
                color: $clr-white;
            }
        }

        &:hover{
            transform: scale(0.9);
        }
    }
}